body {
    margin: 2em 2em;
}

h1 {
    text-align: center;
    margin-bottom: 2em;
}

.input-group-text {
    padding: .375rem 1.75rem;
    font-size: 1.2rem;
    background-color: #17a2b8;
    color: white;
}

.form-control,
.btn {
    font-size: 1.2rem;

}

#task-input {
    width: 28%;
}

#category-input {
    width: 10%;
}

#deadline-input {
    width: 5%;
}

.btn-outline-secondary {
    color: #17a2b8;
    border-color: #17a2b8;
}

#submit-button {
    padding: .375rem 1.75rem;

}
