/* ------------------------------------- */
/* BASIC SETUP */
/* ------------------------------------- */

body {
    font-family: 'Comfortaa', cursive;
}

.jumbotron {
    padding: 5rem 2rem;
    background-color: #17A2D1;
    margin-bottom: 0;
}


/* ------------------------------------- */
/* HEADINGS */
/* ------------------------------------- */

h1 {
    text-align: center;
    margin-bottom: 2em;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 4em;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
}


/* ------------------------------------- */
/* MODAL ADD-NEW-TASK FORM */
/* ------------------------------------- */

#open-modal-button {
    font-size: 1.8rem;
    border-color: #e3a05c;
    background-color: #e3a05c;
    margin: 40px auto 0 auto;
}

#add-task-button {
    font-size: 1.3rem;
    border-color: #e3a05c;
    background-color: #e3a05c;
}

.btn-success.focus, 
.btn-success:focus {
    box-shadow: 0 0 0 0.2rem hsla(41, 86%, 48%, 0.667);
}

.input-group-text {
    padding: .375rem 1.75rem;
    font-size: 1.2rem;
    background-color: #17A2D1;
    color: white;
    border: none;
}

.form-control,
form .btn {
    font-size: 1.2rem;
}

.form-group {
    margin-bottom: 0;
}

.mb-3, .my-3 {
    margin-bottom: 1.5rem!important;
}

#last-form-row {
    margin-bottom: 0rem!important;
}


/* ------------------------------------- */
/* TASK-LIST TABLE */
/* ------------------------------------- */

table {
    font-size: .8rem;
}

.table td:first-child {
    text-align: center;
} 

.table td:last-child {
    padding-right: 35px;
} 

th:first-of-type {
    text-align: center;
}

input[type="checkbox"]{
  width: 20px; 
  height: 20px; 
}

thead {
    font-size: .9rem;
    text-transform: uppercase;
}